.favourite-list {
  border: 1px solid #ccc;
  padding: 10px;
}

.favourite-list h3 {
  margin-top: 0;
}

.favourite-list ul {
  list-style: none;
  padding-left: 0;
}

.favourite-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
